<app-sidenav></app-sidenav>

<div class="container">
    <div >
       <h1>Group Creation</h1>
         <form [formGroup]="userForm" novalidate>
           <div class="form-group">
             <label for="groupName">Group Name: </label> 
             <input type="text" class="form-control" formControlName="groupName" id="groupName" placeholder="Group Name" required> 
           </div>

           <div class="form-group">
             <label for="description">Group Description: </label>
             <textarea class="form-control groupdescription" formControlName="groupdescription" placeholder="Group Description" required></textarea>
           </div>

            <div class="form-group">
                <label for="groupAdmin" >Group Admin:</label>
                <angular2-multiselect [data]="adminItemList" [(ngModel)]="adminSelectedItems" [settings]="adminSettings" formControlName="adminList" class="test form-control" aria-required></angular2-multiselect>
            </div>

            <div class="form-group">
                <label for="groupMembers">Group Members:</label>
                <angular2-multiselect [data]="employeeItemList" [(ngModel)]="employeeSelectedItems" [settings]="employeeSettings" formControlName="employeeList" class="test form-control" aria-required></angular2-multiselect>
            </div>

            <div class="form-group">
                <label for="groupMembers">Group Status:</label>
                <angular2-multiselect [data]="statusItemList" [(ngModel)]="statusSelectedItems" [settings]="statusSettings" formControlName="statusList" class="test form-control" aria-required></angular2-multiselect>
            </div>

            <div>
                <button type="button" class="btn btn-success button" (click)="onSubmit()">Submit</button>            
            </div>
         </form>
     </div>
  </div>