@import 'src/app/_style/variable';



.row1 {
	height: 100px;
}
.row1-col1 {
	color: $color_3;
	font-family: $font_family_1;
	font-size: 24px;
	margin-top: 30px;
}
.button {
	background-color: $background_color_1;
	border: none;
	color: $color_2;
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	cursor: pointer;
	border-radius: 12px;
	height: 40px;
	width: 250px;
	margin-top: 30px;
	font-family: $font_family_1;
	margin-left: 200px;
}
button {
	&:hover {
		opacity: 0.8;
	}
}
